
$timeline-border-width : 1;
$timeline-border-marginleft : 22;
$timeline-border-dot-color: #ff5721;
$timeline-border-line-color: #CCCCCC;

$timeline-marginleft: 20;

$gap_line_value:16;
$pad_line:4;


.timeline{
    margin-top: 8; 
    margin-left: $timeline-marginleft;
    // margin-bottom:14;
    .day{
        // right space
        padding-right: 24;
        // padding-bottom:8;
        .line{
            margin-left: $timeline-border-marginleft + $timeline-border-width;
            border-left-color: $timeline-border-line-color;
            border-left-width: $timeline-border-width;
        }
        .dot{
            // transform: translateX(-12);
            // font-size: 16; 
            // font-weight: 700;
            width:16;
            height:16;
            border-radius: 50%;
            margin-top: 4;
            background-color:white;
            border-color: $timeline-border-dot-color;
            border-width: 2;
        }
        .even{
            background-color:$timeline-border-dot-color;
        }
        .date{
            margin-left: $gap_line_value;
            margin-bottom: $pad_line;
            .date-str{
                font-size: 14;
                // font-weight: 600;
                color:#888;
            }
            .amount{
                font-size: 14;
                color: darkgray;
                // display :none;
            }
        }
        .items{
            margin-bottom: 24;
            .item{
                margin-left: $gap_line_value;
                margin-bottom : $pad_line - 4;
                .icon{
                    width:20;
                    margin-right: 8; 
                    margin-top:4;
                }
                .merchant{
                    font-size:14;
                    padding:0;
                    margin:6 0;
                }
                .point{
                    font-size:14;
                    // font-weight: 600;
                    padding:0;
                    margin-bottom: 0;
                    padding-bottom: 0;
                }
                .change{
                    margin:0;
                    padding:0;
                    font-size:10;
                    color: #888888;
                }
                .positive{
                    color:#f12f2f;
                }
                .negative{
                    color:#0040ff;
                }
            }
        }
    }
}