<GridLayout #rootlayout height="100%" width="100%" backgroundColor="#f0f5f5">
    <!-- <Label row="0" text="Tr Emb" margin="24" style="font-size: 24;"></Label> -->

    <!-- <StackLayout row="1">
        <Button text="go to Home" (tap)="navigateBack($event)"></Button>
    </StackLayout> -->
    <ScrollView>
        <StackLayout class="timeline" width="88%">
            <GridLayout class="day" rows="auto, auto" columns="24, *" width="100%">
                <Label class="line" col="0" rowspan="2" width="100%"></Label>
                <Label class="dot" col="0" rowspan="2" verticalAlignment="top"></Label>
                <GridLayout class="date" col="1" row="0" columns="*, 48">
                    <Label class="date-str" text="SATURDAY, 27, JUN" col="0"></Label>
                    <Label class="amount" text="2.01" col="1"></Label>
                </GridLayout>
                <GridLayout class="item" col="1" row="1">
                    <GridLayout rows="auto, auto" columns="auto, *, 48">
                        <Image row="0" rowspan="2" col="0" width="16" src="~/images/restorant.png"
                            style="margin-right: 4;"></Image>
                        <Label row="0" rowspan="2" col="1" text="merchant" verticalAlignment="center"
                            style="font-size: 16;"></Label>
                        <Label row="0" text="2.01" col="2" style="font-size: 16;"></Label>
                        <Label row="1" col="2" text="W3,000"></Label>
                    </GridLayout>
                </GridLayout>
            </GridLayout>
            <GridLayout class="day" rows="auto, auto" columns="24, *" width="100%">
                <Label class="line" col="0" rowspan="2" width="100%"></Label>
                <Label class="dot" col="0" rowspan="2" verticalAlignment="top"></Label>
                <GridLayout class="date" col="1" row="0" columns="*, 48">
                    <Label class="date-str" text="SATURDAY, 27, JUN" col="0"></Label>
                    <Label class="amount" text="2.01" col="1"></Label>
                </GridLayout>
                <StackLayout class="item" col="1" row="1">
                    <GridLayout rows="auto, auto" columns="auto, *, 48">
                        <Image row="0" rowspan="2" col="0" width="16" src="~/images/restorant.png"
                            style="margin-right: 4;"></Image>
                        <Label row="0" rowspan="2" col="1" text="merchant" verticalAlignment="center"
                            style="font-size: 16;"></Label>
                        <Label row="0" text="2.01" col="2" style="font-size: 16;"></Label>
                        <Label row="1" col="2" text="W3,000"></Label>
                    </GridLayout>
                    <GridLayout rows="auto, auto" columns="auto, *, 48">
                        <Image row="0" rowspan="2" col="0" width="16" src="~/images/restorant.png"
                            style="margin-right: 4;"></Image>
                        <Label row="0" rowspan="2" col="1" text="merchant" verticalAlignment="center"
                            style="font-size: 16;"></Label>
                        <Label row="0" text="2.01" col="2" style="font-size: 16;"></Label>
                        <Label row="1" col="2" text="W3,000"></Label>
                    </GridLayout>
                </StackLayout>
            </GridLayout>
            <GridLayout class="day" rows="auto, auto" columns="24, *" width="100%">
                <Label class="line" col="0" rowspan="2" width="100%"></Label>
                <Label class="dot" col="0" rowspan="2" verticalAlignment="top"></Label>
                <GridLayout class="date" col="1" row="0" columns="*, 48">
                    <Label class="date-str" text="SATURDAY, 27, JUN" col="0"></Label>
                    <Label class="amount" text="2.01" col="1"></Label>
                </GridLayout>
                <GridLayout class="item" col="1" row="1">
                    <GridLayout rows="auto, auto" columns="auto, *, 48">
                        <Image row="0" rowspan="2" col="0" width="16" src="~/images/restorant.png"
                            style="margin-right: 4;"></Image>
                        <Label row="0" rowspan="2" col="1" text="merchant" verticalAlignment="center"
                            style="font-size: 16;"></Label>
                        <Label row="0" text="2.01" col="2" style="font-size: 16;"></Label>
                        <Label row="1" col="2" text="W3,000"></Label>
                    </GridLayout>
                </GridLayout>
            </GridLayout>
        </StackLayout>
    </ScrollView>
</GridLayout>