
.ripple-button {
    // width: 200;
    height: 56;

    background-color: whitesmoke;
    &-blue{
        background-color: lightskyblue;
    }
    &-red{
        background-color: lightcoral;
    }

    .btn {
        font-size: 16;
        color:white;
        // width: 200;
        // height: 30;
        width:100%;

        margin: 0;
        padding: 8;

        background-color: transparent;
        box-shadow: transparent;
        border-color: transparent;
        border-radius: 0;
        z-index: 0;
    }
}
