<GridLayout rows="auto, *">
    <myactionbar row="0" (close_click)="actionbar_click_close(isclose)" [isClose]="true"></myactionbar>
</GridLayout>
<GridLayout #rootlayout rows="72,auto,auto,auto,auto, *, 52" height="100%" width="100%">
    <title row="1" title="보유포인트" point="120,000P" point_unit=" (3,245THB)" backgroundColor="#ff5722"></title>
    <StackLayout row="2" horizontalAlignment="center" orientation="horizontal" marginTop="16">
        <Image src="~/images/btn_pre.png" width="24"></Image>
        <Label class="month" text="{{today | date:'yyyy년 MM월'}}"></Label>
        <Image src="~/images/btn_next.png" width="24"></Image>
    </StackLayout>

    <StackLayout row="3" class="info" marginTop="16">
        <Label class="str" text="KLOOK Pay"></Label>
        <StackLayout orientation="horizontal">
            <Label class="str" text="이용 포인트는"></Label>
            <Label class="point" text="{{use_point}}"></Label>
            <Label class="str" text="Point 이며,"></Label>
        </StackLayout>
        <StackLayout orientation="horizontal">
            <Label class="str" text="적립된 포인트는"></Label>
            <Label class="point" text="{{stack_point}}"></Label>
            <Label class="str" text="Point 입니다"></Label>
        </StackLayout>
    </StackLayout>

    <AbsoluteLayout row="4" class="tab-frame" columns="auto, auto,auto, auto" verticalAlignment="middle" marginTop="8">
        
        <StackLayout class="stack" orientation="horizontal" width="100%" #tab>
            <Label class="btn" col="0" text="최신순"></Label>
            <Label class="btn" col="1" text="고액순"></Label>
            <Label class="btn" col="2" text="충전/교환"></Label>
            <Label class="btn" col="3" text="적립"></Label>
        </StackLayout>
        <!-- <Label class="tab-btn" col="2" text="right"></Label> -->
        <Label id="selected" class="toggle"></Label>
    </AbsoluteLayout>

    <GridLayout row="5">
        <ScrollView>
            <StackLayout class="timeline">
                <GridLayout *ngFor="let item of trs | keyvalue : keyDescOrder; let index = index" class="day" rows="auto, auto" columns="24, *" width="100%">
                    <Label class="line" col="0" rowspan="2" width="100%"></Label>
                    <Label class="dot" [ngClass]="{'even': index % 2 === 1}" col="0" rowspan="2" verticalAlignment="top"></Label>
                    <GridLayout class="date" col="1" row="0" columns="*, auto">
                        <Label class="date-str" text="{{item.key}}" col="0"></Label>
                    </GridLayout>
                    <StackLayout col="1" row="1" class="items">
                        <GridLayout class="item" *ngFor="let tr of item.value | keyvalue" rows="auto, auto, auto" columns="auto, *, auto">
                            <Image class="icon" row="0" rowspan="3" col="0" src="{{icons[tr.value.icon]}}" verticalAlignment="top"></Image>
                            <Label class="merchant" row="0" rowspan="2" col="1" text="{{tr.value.merchant}}" verticalAlignment="top"></Label>
                            <Label class="point" row="0" text="{{tr.value.point}}" col="2" textAlignment="right"></Label>
                            <Label class="change" row="1" col="2" text="{{tr.value.curr}}" textAlignment="right"></Label>
                            <StackLayout row="2" col="1" orientation="horizontal">
                                <Label class="date" text="{{tr.value.date | date:'HH:mm'}}" textAlignment="right" verticalAlignment="center"></Label>
                                <Label class="seperate" verticalAlignment="center"></Label>
                                <Label class="description" text="{{tr.value.description}}" textAlignment="right" verticalAlignment="center"></Label>
                                <Label *ngIf="tr.value.taxfree || tr.value.utu" class="seperate" verticalAlignment="center"></Label>
                                <Image *ngIf="tr.value.taxfree" class="label-img" src="~/images/ico_taxfree.png" height="16" verticalAlignment="center"></Image>
                                <Image *ngIf="tr.value.utu" class="label-img" src="~/images/ico_utu.png" height="16"  verticalAlignment="center"></Image>
                            </StackLayout>
                            <Label class="savepoint" row="2" col="2" text="{{'+' + (tr.value.save_point)}}" textAlignment="right"></Label>
                        </GridLayout>
                    </StackLayout>
                </GridLayout>
            </StackLayout>
        </ScrollView>
    </GridLayout>
    
    <GridLayout row="6" class="gray-bg">
        <ripple-button row="4" text="처음으로" backgroundColor="#ff5722" textColor="white" (click)="onTapFirst()"></ripple-button>
    </GridLayout>
</GridLayout>