<GridLayout #rootlayout rows="64,auto,auto,auto,auto, *, 52" height="100%" width="100%">
    <!-- <title row="1" title="보유포인트" point="120,000P" point_unit=" (3,245THB)" backgroundColor="#ff5722"></title> -->
    <title row="1" title="보유포인트" point="{{dataService.point | number:'1.0-0'}}"
        point_unit="{{' (' + ( dataService.point_exchanged | number:'1.0-0') + ' ' + countryService.currency + ')' }}"
        backgroundColor="#ff5722">
    </title>

    <StackLayout row="2" horizontalAlignment="center" orientation="horizontal" marginTop="16">
        <Image src="~/images/btn_pre.png" width="20" (tap)="onTapPrevMonth($event, 'prev')"></Image>
        <Label class="month" text="{{today | date:'yyyy년 MM월'}}"></Label>
        <Label class="month" text="{{ today | date:'mm:ss' }} "></Label>
        <Image src="~/images/btn_next.png" width="20" (tap)="onTapNextMonth($event, 'prev')"></Image>
    </StackLayout>

    <StackLayout row="3" class="info" marginTop="16">
        <Label class="str" text="KLOOK Pay"></Label>
        <StackLayout orientation="horizontal">
            <Label class="str" text="이용 포인트는"></Label>
            <Label class="point" text="{{use_point | number:'1.0-0'}}"></Label>
            <Label class="str" text="Point 이며,"></Label>
        </StackLayout>
        <StackLayout orientation="horizontal">
            <Label class="str" text="적립된 포인트는"></Label>
            <Label class="point" text="{{stack_point | number:'1.0-0'}}"></Label>
            <Label class="str" text="Point 입니다"></Label>
        </StackLayout>
    </StackLayout>

    <tab row="4" [tab_labels]="['최신순', '고액순', '충전/교환', '적립']" (tapElem)="callback_tapElem($event)"></tab>

    <GridLayout row="5">
        <ScrollView>
            <tr-list *ngIf="sort_type === 0" [grouped]="sort_type === 1 ? false : true" [transactions]="transactionService.tr_grouped_month"></tr-list>
            <tr-list *ngIf="sort_type === 1" [grouped]="sort_type === 1 ? false : true" [transactions]="transactionService.tr_order_amount"></tr-list>
            <tr-list *ngIf="sort_type === 2" [grouped]="sort_type === 1 ? false : true" [transactions]="transactionService.tr_only_cc"></tr-list>
            <tr-list *ngIf="sort_type === 3" [grouped]="sort_type === 1 ? false : true" [transactions]="transactionService.tr_only_save_point"></tr-list>
        </ScrollView>
    </GridLayout>

    <GridLayout row="6" class="gray-bg">
        <ripple-button row="4" text="처음으로" backgroundColor="#ff5722" textColor="white" (click)="onTapFirst()">
        </ripple-button>
    </GridLayout>
</GridLayout>
<GridLayout rows="auto, *">
    <myactionbar row="0" (close_click)="actionbar_click_close(isclose)" [isClose]="true"></myactionbar>
</GridLayout>