$maincolor: #ff5722;

.month{
    font-size: 16;
    font-weight: 600;
    margin: 0 8;
}

.info{
    margin:0 16;
    padding:12;
    border-radius: 6;
    background-color: #eee;
    .str{
        font-size:15;
        margin:0;
    }
    .point{
        font-size:15;
        font-weight: 600;
        color:$maincolor;
        margin:0 4;
    }
}
