
<GridLayout #rootlayout rows="80,auto,auto,auto,auto, *, 52" height="100%" width="100%">
    <title row="1" title="보유포인트" point="120,000P" point_unit=" (3,245THB)" backgroundColor="#ff5722"></title>
    <title row="1" title="보유포인트" point="{{dataService.point | number:'1.0-0'}}" point_unit="{{' (' + ( exchange | number:'1.0-0') + ' ' + countryService.currency + ')' }}" backgroundColor="#ff5722"></title>

    <StackLayout row="2" horizontalAlignment="center" orientation="horizontal" marginTop="16">
        <Image src="~/images/btn_pre.png" width="20"></Image>
        <Label class="month" text="{{today | date:'yyyy년 MM월'}}"></Label>
        <Image src="~/images/btn_next.png" width="20"></Image>
    </StackLayout>

    <StackLayout row="3" class="info" marginTop="16">
        <Label class="str" text="KLOOK Pay"></Label>
        <StackLayout orientation="horizontal">
            <Label class="str" text="이용 포인트는"></Label>
            <Label class="point" text="{{use_point | number:'1.0-0'}}"></Label>
            <Label class="str" text="Point 이며,"></Label>
        </StackLayout>
        <StackLayout orientation="horizontal">
            <Label class="str" text="적립된 포인트는"></Label>
            <Label class="point" text="{{stack_point | number:'1.0-0'}}"></Label>
            <Label class="str" text="Point 입니다"></Label>
        </StackLayout>
    </StackLayout>
    
    <tab row="4" [tab_labels]="['최신순', '고액순', '충전/교환', '적립']" (tapElem)="callback_tapElem($event)"></tab>

    <GridLayout row="5">
        <ScrollView>
            <StackLayout class="timeline">
                <GridLayout *ngFor="let item of transactionService.tr_grouped | keyvalue : keyDescOrder; let index = index" class="day" rows="auto, auto" columns="24, *" width="100%">
                    <Label class="line" col="0" rowspan="2" width="100%"></Label>
                    <Label class="dot" [ngClass]="{'even': index % 2 === 1}" col="0" rowspan="2" verticalAlignment="top"></Label>
                    <GridLayout class="date" col="1" row="0" columns="*, auto">
                        <Label class="date-str" text="{{item.key}}" col="0"></Label>
                    </GridLayout>
                    <StackLayout col="1" row="1" class="items">
                        <GridLayout class="item" *ngFor="let tr of item.value" rows="auto, auto" columns="auto, *, auto" (tap)="onTapTr(tr)">
                            <Image class="icon" row="0" rowspan="2" col="0" src="{{icons[tr.class]}}" verticalAlignment="top"></Image>
                            <Label class="merchant" row="0" col="1" text="{{tr.merchant}}" verticalAlignment="center"></Label>
                            <StackLayout row="0" col="2" verticalAlignment="center">
                                <Label class="point" text="{{ (tr.curr === 0 ? '+' : '') + (tr.point | abs | number:'1.0-0') + ' P' }}" textAlignment="right" verticalAlignment="center" translateY="2"></Label>
                                <Label class="change" *ngIf="tr.curr !== 0" text="{{((tr.point / countryService.exchange) | abs | number:'1.0-0') + ' ' + countryService.currency}}" textAlignment="right"></Label>
                            </StackLayout>
                            <StackLayout row="1" col="1" orientation="horizontal">
                                <Label class="date" text="{{tr.date | date:'HH:mm'}}" textAlignment="right" verticalAlignment="center"></Label>
                                <Label class="seperate" verticalAlignment="center"></Label>
                                <Label class="description" text="{{tr.description}}" textAlignment="right" verticalAlignment="center"></Label>
                                <Label *ngIf="tr.taxfree || tr.utu" class="seperate" verticalAlignment="center"></Label>
                                <Image *ngIf="tr.taxfree" class="label-img" src="~/images/ico_taxfree.png" height="16" verticalAlignment="center"></Image>
                                <Image *ngIf="tr.utu" class="label-img" src="~/images/ico_utu.png" height="16"  verticalAlignment="center"></Image>
                            </StackLayout>
                            <Label class="savepoint" row="1" col="2" *ngIf="tr.save_point !== 0" text="{{'+' + (tr.save_point | abs | number:'1.0-0') + ' P'}}" textAlignment="right"></Label>
                        </GridLayout>
                    </StackLayout>
                </GridLayout>
            </StackLayout>
        </ScrollView>
    </GridLayout>
    
    <GridLayout row="6" class="gray-bg">
        <ripple-button row="4" text="처음으로" backgroundColor="#ff5722" textColor="white" (click)="onTapFirst()"></ripple-button>
    </GridLayout>
</GridLayout>
<GridLayout rows="auto, *">
    <myactionbar row="0" (close_click)="actionbar_click_close(isclose)" [isClose]="true"></myactionbar>
</GridLayout>