
.qr{
   &-img{
    //    width:172;
        width:56%;
       margin:16;
   } 
   &-str{
        color:#888;
        font-size: 15;
   }
}
.remain{
    &-str{
        color:#ff5722;
        font-size: 15;
    }
    &-img{
        width:14;
        margin:4;

    }
}
