<GridLayout rows="*, auto">
    <StackLayout row="0" class="amount">
        <textfield-currency #textfield [className]="'charge1'" verticalAlignment="center" [(ngModel)]="amount"
            (returnPress)="onReturnPress($event)" (textChange)="onChangeTextField($event)" hint="충전 금액을 입력해주세요">
        </textfield-currency>
        <StackLayout orientation="horizontal">
            <Image src="~/images/ico_q.png" width="16" marginRight="4"></Image>
            <Label class="str" text="충전가능금액 : "></Label>
            <Label class="str-point" text="{{dataService.selected_way.balance | number:'1.0-0'}}"></Label>
            <Label class="str-point" text="원"></Label>
        </StackLayout>
    </StackLayout>
    <ripple-button row="1" text="포인트 충전하기" backgroundColor="#ff5722" textColor="white"
        (click)="onTapCharge($event)"></ripple-button>
</GridLayout>