<GridLayout rows="auto, *">
    <myactionbar row="0" (close_click)="actionbar_click_close(isclose)" [isClose]="true"></myactionbar>
</GridLayout>

<GridLayout #rootlayout rows="96,auto, *" class="nav" height="100%" width="100%">
    <StackLayout row="1">
        <Button text="go to New" (tap)="navigateNew($event)"></Button>
        <Button text="go to UseLoc" (tap)="navigateUseLoc($event)"></Button>
    </StackLayout>

    <carousel-card [elem_list]="cardlist" (onTapElem)="onTapCard($event)"></carousel-card>
</GridLayout>