<GridLayout rows="auto, *">
    <myactionbar row="0" (close_click)="actionbar_click_close(isclose)" [isClose]="true"></myactionbar>
</GridLayout>

<GridLayout #rootlayout rows="96,auto, *" class="nav" height="100%" width="100%">
    <StackLayout row="1">
        <Button text="go to New" (tap)="navigateNew($event)"></Button>
        <Button text="go to UseLoc" (tap)="navigateUseLoc($event)"></Button>
    </StackLayout>

    
    <GridLayout row="2" rows="auto, auto">
        <AbsoluteLayout row="0" width="100%" height="100%" (pan)="onPanCarousel($event)">
            <StackLayout #scrollitems orientation="horizontal"
                style="padding-top: 24; padding-bottom: 8;" >
                <ng-container *ngFor="let card of cardlist; index as i">
                    <!--  width="{{cardwidth}}" marginLeft="{{margin_hori}}" marginRight="{{margin_hori}}"  -->
                    <GridLayout (loaded)="onLoadedCard($event, i)" (tap)="onTapCard($event, i)">
                        <Image [src]="card"></Image>
                        <Label [text]="card" style="color:white; background-color: black;" height="20"></Label>
                    </GridLayout>
                    <!-- <GridLayout *ngElse (loaded)="onLoadedCard($event, i)">
                        <Image [src]="card"></Image>
                    </GridLayout> -->
                </ng-container>
            </StackLayout>
            
            <StackLayout #indicator orientation="horizontal" horizontalAlignment="center" marginBottom="12">
                <!-- <Label width="12" height="12" marginLeft="4" marginRight="4" borderRadius="50%" backgroundColor="#888888"></Label>
                <Label width="12" height="12" marginLeft="4" marginRight="4" borderRadius="50%" backgroundColor="#ff5722"></Label>
                <Label width="12" height="12" marginLeft="4" marginRight="4" borderRadius="50%" backgroundColor="#888888"></Label> -->
                <ng-container *ngFor="let card of cardlist; index as i">
                    <!--  width="{{cardwidth}}" marginLeft="{{margin_hori}}" marginRight="{{margin_hori}}"  -->
                    <Label (loaded)="onLoadedIndicator($event, i)"></Label>
                </ng-container>
            </StackLayout>
        </AbsoluteLayout>
        <ng-template #element>
            <GridLayout (loaded)="onLoadedCard($event, i)">
                <Image [src]="card"></Image>
                <Label [text]="card" style="color:white; background-color: black;" height="20"></Label>
            </GridLayout>
        </ng-template>
    </GridLayout>

</GridLayout>