
$maincolor: #ff5722;

.title{
    font-size: 16; 
    color:#ffffff; 

    border-radius: 8; 
    background-color: $maincolor; 
    margin:0 16;
    margin-top: 10;
    .str{
        font-size: 16; 
        margin:8 16;
    }
    .change{
        margin-right:16;
    }
}