<GridLayout rows="auto, *">
    <myactionbar row="0" (close_click)="actionbar_click_close(isclose)" [isClose]="true"></myactionbar>
</GridLayout>

<GridLayout #rootlayout rows="80, auto, *, auto, auto" class="nav" height="100%" width="100%">
    <title row="1" title="홍콩 옥토퍼스 보유 잔액" point="800" point_unit="HKD" backgroundColor="#ff5722"></title>

    <carousel-card row="2" [elem_list]="cardlist" (onTapElem)="onTapCard($event)"></carousel-card>
    <GridLayout row="3" columns="auto, *" backgroundColor="#f8f8f8" (tap)="navigateNew($event)">
        <Image row="0" col="0" src="~/images/ico_tag.png" width="64" margin="24" marginRight="44" marginLeft="32"></Image>
        <StackLayout col="1" verticalAlignment="center">
            <Label text="교통카드 이용을 위해"  style="font-size: 15; color:#555"></Label>
            <Label text="휴대폰을 기기에 접촉해주세요" style="font-size: 16; color:#555"></Label>
        </StackLayout>
    </GridLayout>
    <GridLayout row="4" margin="16">
        <StackLayout orientation="horizontal" horizontalAlignment="center" (tap)="navigateUseLoc($event)">
            <Label text="홍콩 옥토퍼스 카드 이용 안내" style="font-size: 15; color:#ff5722;"></Label>
            <Image src="~/images/btn_arrow01.png" width="8" style="margin: 0 8;"></Image></StackLayout>
    </GridLayout>
</GridLayout>