
.list{
    margin : 0 16;
    .label{
        font-size: 16;

        &-small{
            font-size: 12;
        }
    }
    .tf{
        font-size : 14;
        placeholder-color: #888;
        placeholder: font size 10;

        padding-left: 8;

        border-radius: 4;
        border-width: 1;
        border-color: #ddd;
    }
    
}