<GridLayout>
    <GridLayout rows="*">
        <GridLayout row="0" margin="0 16">
            <MLKitBarcodeScanner *ngIf="is_cam_allowed" formats="QR_CODE, UPC_A, EAN_13" beepOnScan="false"
                supportInverseBarcodes="false" processEveryNthFrame="10" [torchOn]="torchOn" [pause]="pause"
                (scanResult)="onBarcodeScanResult($event)">
            </MLKitBarcodeScanner>
        </GridLayout>
        <Image src="~/images/frame_qr_new.png" width="72%" horizontalAlignment="center"></Image>
        <Label text="화면에 카메라를 맞춰 주세요" style="color:darkgray; margin-bottom: 36; font-size: 13;"
            textAlignment="center" verticalAlignment="bottom"></Label>
    </GridLayout>

    <!--
    <GridLayout marginLeft="16" marginRight="16" backgroundColor="#333"></GridLayout> 
        <GridLayout rows="*, auto, auto, *">
        <GridLayout row="1" style="border-radius: 10;" width="256" height="256">
            <MLKitBarcodeScanner *ngIf="is_cam_allowed" width="256" height="256" formats="QR_CODE, UPC_A, EAN_13" beepOnScan="false"
                supportInverseBarcodes="false" processEveryNthFrame="10" [torchOn]="torchOn" [pause]="pause"
                (scanResult)="onBarcodeScanResult($event)">
            </MLKitBarcodeScanner>
        </GridLayout>
        <Image row="1" src="~/images/frame_qr.png" height="264" horizontalAlignment="center"></Image>
        <Label row="2" text="화면에 카메라를 맞춰 주세요" style="color:darkgray; margin:8 0;"
            textAlignment="center"></Label>
        <ListView row="3" col="0" colSpan="3" [items]="barcodes" class="m-t-20" backgroundColor="transparent">
            <ng-template let-item="item">
                <GridLayout columns="2*, 3*">
                    <Label col="0" class="mlkit-result" textWrap="true" [text]="item.format"></Label>
                    <Label col="1" class="mlkit-result" textWrap="true" [text]="item.displayValue"></Label>
                </GridLayout>
            </ng-template>
        </ListView>
    </GridLayout> -->

    <!-- <GridLayout rows="auto" columns="auto, auto" horizontalAlignment="right" class="m-t-4 m-r-8">
    <Label col="0" text="Torch" class="c-white" [class.disabled]="!torchOn"></Label>
    <Switch col="1" [checked]="torchOn" (checkedChange)="toggleTorch($event)"></Switch>
</GridLayout> -->
</GridLayout>