
.list{
    // width:100%;
    margin:4 16;
    
    // background-color:red;
    padding:16;
    padding-bottom: 18;
    border-radius:8; 
    border-width:1;
    border-color:#dedede;

    .img{
        margin:8;
        margin-right: 24;
    }
    .btn{
        &-register{
            height: 28;
            font-size:14; 
            border-radius: 5; 
            // padding: 0 14; 
            margin: 0;
            margin-right: 6;
            background-color: #ff5722; 
            color:white;
        }
        &-disconnect{
            height: 28;
            font-size:14; 
            border-radius: 5; 
            // padding: 0 14; 
            margin: 0;
            margin-right: 6;
            background-color: #ddd; 
            color:black;
        }
    }
    
}







