
.list{
    // width:100%;
    margin:2 16;
    
    // background-color:red;
    padding:12;
    padding-bottom: 16;
    border-radius:10; 
    border-width:1;
    border-color:#eee;

    .img{
        margin:8;
        margin-right: 24;
    }
    .title{
        font-size: 14;
    }
    .btn{
        &-register{
            width : 52;
            height: 24;
            font-size:13; 
            border-radius: 5; 
            // padding: 0 14; 
            margin: 0;
            margin-right: 6;
            background-color: #ff5722; 
            color:white;
        }
        &-disconnect{
            width : 52;
            height: 24;
            font-size:13; 
            border-radius: 5; 
            // padding: 0 14; 
            margin: 0;
            margin-right: 6;
            background-color: #ddd; 
            color:black;
        }
    }
    
}







