
<GridLayout #rootlayout rows="88,auto,auto,auto,auto, *, auto" height="100%" width="100%">
    <title row="1" title="{{title}}" backgroundColor="#888"></title>
    <GridLayout row="2" rows="auto, auto" columns="auto, *"  class="point" marginTop="16">
        <Image row="0" rowspan="2" col="0" class="img" src="~/images/img_charge01.png" width="56"></Image>
        <Label row="0" col="1" class="title" text="보유 KLOOK 포인트" verticalAlignment="bottom"></Label>
        <StackLayout row="1" col="1" orientation="horizontal" verticalAlignment="top">
            <Label class="point-num" text="{{dataService.point | number:'1.0-0'}}"></Label>
            <Label class="str" text=" Point"></Label>
        </StackLayout>
    </GridLayout>
    
    <GridLayout row="3" rows="auto, auto, auto" columns="auto, *, auto"  class="change" marginTop="16">
        <Image row="0" rowspan="2" col="0" class="img" src="~/images/img_charge02.png" width="56" (tap)="onTapTarget()"></Image>
        <Label row="0" col="1" class="title" text="교환 대상 포인트" verticalAlignment="bottom"></Label>
        <!-- <TextField row="1" col="1" #tf class="tf" hint="교환 포인트를 입력해주세요" [text]="amount" (returnPress)="onReturnPress($event)" keyboardType="number"></TextField> -->
        
        <textfield-currency row="1" col="1" #tf
            [className]="'change'" verticalAlignment="center"
            [(ngModel)]="amount"
            (returnPress)="onReturnPress($event)" 
            (textChange)="onChangeTextField($event)"
            hint="교환 포인트를 입력해주세요">
        </textfield-currency>
        <Image row="1" col="2" src="~/images/check_big_on.png" height="24" marginRight="16" (tap)="onTapTarget()"></Image>

        <StackLayout row="2" col="1" colspan="2" orientation="horizontal" verticalAlignment="top">
            <Image class="question" src="~/images/ico_q.png" width="12"></Image>
            <Label class="str" text="교환 가능한 포인트는 "></Label>
            <Label class="str" text="{{dataService.selected_pointry.balance | number:'1.0-0'}}"></Label>
            <Label class="str" text=" P입니다"></Label>
        </StackLayout>
    </GridLayout>

    <GridLayout row="4" class="result" rows="auto, auto, auto, auto" columns="*, *" marginTop="48">
        <Image row="0" col="0" colspan="2" class="img" src="~/images/img_charge03.png" width="216" horizontalAlignment="center"></Image>
        <Label row="1" col="0" class="from-title" text="{{dataService.selected_pointry.title}}" horizontalAlignment="center"></Label>
        <Label row="1" col="1" class="to-title" text="KLOOK 포인트" horizontalAlignment="center"></Label>
        <StackLayout row="2" col="0" orientation="horizontal" horizontalAlignment="center">
            <Label class="from-point" text="{{amount_num | number:'1.0-0'}}" verticalAlignment="center"></Label>
            <Label class="str" text=" Point" verticalAlignment="center"></Label>
        </StackLayout>
        <StackLayout row="2" col="1" orientation="horizontal" horizontalAlignment="center">
            <Label class="to-point" text="{{ amount_num * dataService.selected_pointry.exchange | number:'1.0-0'}}" verticalAlignment="center"></Label>
            <Label class="str" text=" Point" verticalAlignment="center"></Label>
        </StackLayout>
    </GridLayout>
    
    <StackLayout row="5" class="description" orientation="horizontal" verticalAlignment="bottom" margin="8" marginLeft="16" marginRight="16">
        <Image src="~/images/ico_info3.png" height="14" marginRight="4"></Image>
        <Label class="str" text="(유의사항) 교환 후 환불 취소는 불가합니다"></Label>
    </StackLayout>

    <ripple-button row="6" text="포인트 교환하기" backgroundColor="#ff5722" textColor="white" (click)="change($event)"></ripple-button>
    
</GridLayout>
<GridLayout rows="auto, *">
    <myactionbar row="0" (close_click)="actionbar_click_close(isclose)" [isClose]="true"></myactionbar>
</GridLayout>

<GridLayout #modalframe rows="*,auto" backgroundColor="#00000000">
    <GridLayout row="0" *ngIf="isModalShow || isKeypadShow" (tap)="onTapBack()"></GridLayout>
    <GridLayout #modal row="1" class="select-point" rows="auto, auto" verticalAlignment="bottom">
        <StackLayout row="0" class="info" orientation="horizontal">
            <Image src="~/images/ico_info.png" width="16" marginRight="4"></Image>
            <Label class="str" text="교환 포인트를 선택해주세요"></Label>
        </StackLayout>
        <point-list row="1" (selectPoint)="callback_selectPoint($event)"></point-list>
    </GridLayout>
</GridLayout>