$maincolor: #ff5722;

.point{
    margin: 0 16;
    .img{
        margin:16;
        margin-left: 8;
        margin-right: 24;
    }
    .title{
        font-size:15;
        font-weight: 600;
    }
    .point-num{
        font-size:15;
        font-weight: 600;
        color:$maincolor;
    }
    .str{
        font-size:15;
    }
}

.change{
    margin: 0 16;
    .img{
        margin:16;
        margin-left: 8;
        margin-right: 24;
    }
    .title{
        font-size:15;
        font-weight: 600;
    }
    .tf{
        margin:0;
        margin-right: 8;
        margin-bottom: 8;
        padding-bottom: 8;

        font-size : 18;
        placeholder-color: #888;
        placeholder: font size 10;

        border-bottom-color: black;
        border-bottom-width: 2;
        
        &-auto{
            margin:0;
            padding-bottom: 4;
            font-size : 14;
            
            width:156;
        }
    }
    .question{
        margin-right: 4;
    }
    .str{
        font-size:14;
        color:$maincolor;
    }

}

.result{
    margin:0 16;
    padding: 8;
    padding-bottom: 16;

    border-radius: 4;
    border-width: 1;
    border-color: #eee;
    .img{
        margin:8;
        margin-top: 16;
    }
    .from{
        &-title{
            font-size:11;
            color:#666;
            padding-bottom: 0;
            margin-bottom: 0;
        }
        &-point{
            font-size:14;
            font-weight: 600;
            color:$maincolor;
            
            padding-top: 0;
            margin-top: 0;
        }
    }
    .to{
        &-title{
            font-size:11;
            color:#666;
            padding-bottom: 0;
            margin-bottom: 0;
        }
        &-point{
            font-size:20;
            font-weight: 600;
            color:$maincolor;
            
            padding-top: 0;
            margin-top: 0;
        }
    }
    .str{
        color:#888;
        font-size: 11;
    }
}

.description{
    .str{
        font-size: 14;
        color:#333;
    }
}