
<GridLayout #rootlayout rows="64,auto,*,auto,auto,auto, auto, auto" height="100%" width="100%">
    <title row="1" title="이용 내역 > 영수증" backgroundColor="#888"></title>
    <GridLayout row="2" marginLeft="16" marginRight="16" marginTop="16">
        
        <MapView #mapView [latitude]="latitude" [longitude]="longitude"
        [zoom]="zoom" [minZoom]="minZoom" [maxZoom]="maxZoom" [bearing]="bearing"
        [tilt]="tilt" i-padding="50,50,50,50" [padding]="padding" (mapReady)="onMapReady($event)"
        (markerSelect)="onMarkerEvent($event)" (markerBeginDragging)="onMarkerEvent($event)"
        (markerEndDragging)="onMarkerEvent($event)" (markerDrag)="onMarkerEvent($event)"
        (markerInfoWindowTapped)="onMarkerEvent($event)" (coordinateTapped)="onCoordinateTapped($event)"
        (cameraChanged)="onCameraChanged($event)"
        (cameraMove)="onCameraMove($event)"></MapView>
        <!-- <MapView #MapView (mapReady)="onMapReady($event)" (markerSelect)="onMarkerEvent($event)" iosOverflowSafeArea="true"></MapView> -->
    </GridLayout>
    <Label row="3" class="title" text="상품이용정보" marginTop="16" marginLeft="16"></Label>
    <StackLayout row="4" class="info" marginLeft="16" marginRight="16">
        <StackLayout class="row" orientation="horizontal">
            <Label class="label label-first" text="가맹점명" verticalAlignment="center"></Label>
            <Label class="content" text="{{tr.merchant}}" verticalAlignment="center"></Label>
        </StackLayout>
        <StackLayout class="row" orientation="horizontal">
            <Label row="1" col="0" class="label" text="사용일시" verticalAlignment="center"></Label>
            <Label row="1" col="1" class="content" text="{{tr.date | date:'y.MM.dd HH:mm:ss'}}" verticalAlignment="center"></Label>
        </StackLayout>
        <StackLayout class="row" orientation="horizontal">
            <Label row="2" col="0" class="label" text="포인트사용"></Label>
            <StackLayout row="2" col="1" orientation="horizontal">
                <Label class="content" text="{{(tr.point | abs | number:'1.0-0') + ' P'}}" verticalAlignment="center"></Label>
                <Label class="content-point" text="(현지 결제금액 " marginLeft="2" verticalAlignment="center"></Label>
                <Label class="content-point" text="{{(tr.point / countryService.exchange) | abs | number:'1.0-0'}}" verticalAlignment="center"></Label>
                <Label class="content-point" text="{{countryService.currency + ')'}}" marginLeft="4" verticalAlignment="center"></Label>
            </StackLayout>
        </StackLayout>
        <StackLayout class="row row-end" orientation="horizontal">
            <Label row="3" col="0" class="label label-end" text="가맹점업종" verticalAlignment="center"></Label>
            <Label row="3" col="1" class="content" text="{{tr.class}}" verticalAlignment="center"></Label>
        </StackLayout>
    </StackLayout>
    <Label row="5" class="title" text="KLOOK Pay 부가서비스" marginTop="16" marginLeft="16"></Label>
    <StackLayout row="6" class="info" marginLeft="16"  marginRight="16">
        <StackLayout class="row row-end" orientation="horizontal">
            <Label row="0" class="label" col="0" text="포인트적립"></Label>
            <StackLayout row="0" col="1" orientation="horizontal">
                <Label class="content" text="{{(tr.save_point | abs | number:'1.0-0') + 'P'}}" verticalAlignment="center"></Label>
                <Label class="content" *ngIf="tr.taxfree" text="(Tax-free 가맹점)"  verticalAlignment="center"></Label>
                <Label class="content" *ngIf="tr.utu" text="(UTU 가맹점)"  verticalAlignment="center"></Label>
            </StackLayout>
        </StackLayout>
    </StackLayout>
    <Button row="7" class="btn" text="이의제기" marginTop="24" marginBottom="24" (tap)="addMarker()"></Button>
</GridLayout>
<GridLayout rows="auto, *">
    <myactionbar row="0" (close_click)="actionbar_click_close(isclose)" [isClose]="true"></myactionbar>
</GridLayout>