<GridLayout #rootlayout rows="64,auto,*,auto" height="100%" width="100%">
    <!-- information strings -->
    <StackLayout row="1" marginTop="16">
        <Label class="info-str" text="회원가입을 위한 정보제공 동의 단계입니다" horizontalAlignment="center"></Label>
        <Label class="info-str" text="KLOOK PAY 회원들의 개인정보를 안전하게" horizontalAlignment="center"></Label>
        <Label class="info-str" text="이용(제공)하는 데 최선을 다합니다" horizontalAlignment="center"></Label>
    </StackLayout>
    <!-- terms -->
    <GridLayout row="2" class="terms" rows="auto, auto" marginTop="16">
        <!-- all agrees area -->
        <StackLayout row="0" class="all-agree" orientation="horizontal" (tap)="onTapAllAgree($event)">
            <Image class="all-agree-btn"
                src="{{isAllAgree === true ? '~/images/check_big_on.png' : '~/images/check_big_off.png'}}"></Image>
            <Label class="all-agree-str" text="전체동의"></Label>
        </StackLayout>
        <!-- each agree area -->
        <StackLayout row="1" class="term">
            <GridLayout *ngFor="let term of terms; let index = index" (tap)="onTapAgree($event, index)"
                columns="auto, auto, *, auto">
                <Image col="0" class="term-img"
                    src="{{term.checked === true ? '~/images/check_small_on.png' : '~/images/check_small_off.png'}}"
                    verticalAlignment="center"></Image>
                <Label col="1" class="term-str" [ngClass]="{'term-str-activated' : term.checked === true}"
                    *ngIf="term.required === true" text="(필수)" verticalAlignment="center"></Label>
                <Label col="2" class="term-str" [ngClass]="{'term-str-activated' : term.checked === true}"
                    text="{{term.str}}" verticalAlignment="center"></Label>
                <Image col="3" class="term-show"
                    src="{{term.checked === true ? '~/images/btn_agreearrow_on.png' : '~/images/btn_agreearrow_off.png'}}"
                    verticalAlignment="center"></Image>
            </GridLayout>
        </StackLayout>
    </GridLayout>
    <!-- ok button -->
    <GridLayout row="3">
        <ripple-button text="확인" backgroundColor="{{isAllAgree === true ? '#ff5722' : '#dddddd'}}" textColor="white" disabled="{{isAllAgree === true ? false : true}}" (click)="onTapNext($event)"></ripple-button>
    </GridLayout>
</GridLayout>
<GridLayout rows="auto, *">
    <simple-actionbar row="0" (close_click)="actionbar_click_close(isclose)" [isClose]="true"></simple-actionbar>
</GridLayout>