<GridLayout rows="auto, auto, auto, auto">
    <GridLayout row="0" class="title-card" columns="*, auto, auto">
        <Label col="0" class="title" text="카드"></Label>
        <Image class="img" src="~/images/btn_plus.png" marginRight="2" horizontalAlignment="right"
            verticalAlignment="bottom"></Image>
        <Label col="2" class="add" text="카드추가" verticalAlignment="bottom"></Label>
    </GridLayout>
    <StackLayout row="1" class="list-card">
        <GridLayout *ngFor="let card of dataService.cards" class="item" rows="auto, auto" columns="auto, *" (tap)="onTapCard(card)">
            <image row="0" rowspan="2" col="0" class="img" src="{{card.img}}"></image>
            <Label row="0" col="1" class="str" text="{{card.title}}"></Label>
            <Label row="1" col="1" class="str" text="{{card.number}}"></Label>
        </GridLayout>
    </StackLayout>
    <GridLayout row="2" class="title-bank" columns="*, auto, auto">
        <Label col="0" class="title" text="은행(계좌)"></Label>
        <Image class="img" src="~/images/btn_plus.png" marginRight="2" horizontalAlignment="right"
            verticalAlignment="bottom"></Image>
        <Label col="2" class="add" text="계좌추가" verticalAlignment="bottom"></Label>
    </GridLayout>
    <StackLayout row="3" class="list-bank">
        <GridLayout *ngFor="let bank of dataService.banks" class="item" columns="auto, auto, *" (tap)="onTapBank(bank)">
            <image col="0" class="img" src="{{bank.img}}"></image>
            <Label col="1" class="str" text="{{bank.title}}"></Label>
            <Label col="2" class="str" text="{{bank.number}}"></Label>
        </GridLayout>
    </StackLayout>
</GridLayout>