<GridLayout>
    <!-- <Button row="0" text="pin 1" [nsRouterLink]="[{outlets:{pinoutlet: ['new']}}]"  pageTransition="slide" clearHistory="true"></Button> -->
    <!-- <Button row="1" text="pin 2" [nsRouterLink]="[{outlets:{pinoutlet: ['input']}}]"  pageTransition="slide" clearHistory="true"></Button> -->
    <!-- <Button row="0" text="pin 1" [nsRouterLink]="['./new']"  pageTransition="slide" clearHistory="true"></Button>
    <Button row="1" text="pin 2" [nsRouterLink]="['./input']"  pageTransition="slide" clearHistory="true" (tap)="tap()"></Button> -->
    <page-router-outlet actionBarVisibility="never"></page-router-outlet>
</GridLayout>