$maincolor: #ff5722;

.amount{
    margin: 0 20;
    .tf{
        margin:0;
        margin-bottom: 8;
        padding-bottom: 8;

        font-size : 18;
        placeholder-color: #888;
        placeholder: font size 10;

        border-bottom-color: black;
        
        &-auto{
            margin:0;
            margin-right: 4;
            padding-bottom: 4;
            font-size : 14;
            
            width:128;
            
            placeholder-color: #888;
            border-bottom-color: black;
        }
    }
    .str{
        font-size:14;
        &-point{
            font-size:14;
            color:$maincolor;
        }
    }
}


.description{
    padding: 32 0;
    background-color: #f8f8f8;
    .str{
        color:#888;
        font-size: 14;
    }
}