
<GridLayout #rootlayout rows="88, auto, auto, *, auto" class="nav" height="100%" width="100%">
    <title row="1" 
        title="보유포인트" 
        point="{{dataService.point | number:'1.0-0'}}" 
        point_unit="{{' (' + ( dataService.point_exchanged | number:'1.0-0') + ' ' + countryService.currency + ')' }}" 
        backgroundColor="#ff5722"></title>

    <GridLayout class="card" row="2" width="320" marginTop="16">
        <Image #cardframe src="~/images/box_card.png" width="300" (layoutChanged)="onLayoutChangedCardImage($event)"></Image>
        <GridLayout #cardelems class="card-elems" rows="60, 60, 60">
            <GridLayout row="0" columns="auto, *, auto">
                <Image col="0" class="point-img" src="~/images/ico_point3.png" verticalAlignment="bottom"></Image>
                <Label col="1" class="point-str" text="충전하기" verticalAlignment="bottom"></Label>
                <GridLayout class="point-inuse" col="2">
                    <Label class="str" text="사용중" verticalAlignment="bottom"></Label>
                </GridLayout>
            </GridLayout>
            <!-- <TextField class="input" row="1" verticalAlignment="center" 
                [(ngModel)]="amount" 
                (returnPress)="onReturnPress($event)" 
                (textChange)="onChangeTextField($event)"
                hint="충전 금액을 입력하세요" 
                keyboardType="number">
            
            </TextField> -->
            <!-- <MaskedTextField 
                class="input" row="1" verticalAlignment="center" 
                mask="999,999,999,999,999,999" 
                [(ngModel)]="amount" 
                (returnPress)="onReturnPress($event)" 
                (textChange)="onChangeTextField($event)"
                hint="충전 금액을 입력하세요" 
                keyboardType="number">
            </MaskedTextField> -->
            <GridLayout row="1">
                <textfield-currency [className]="'octopus'" verticalAlignment="center"
                    [(ngModel)]="amount"
                    (returnPress)="onReturnPress($event)" 
                    (textChange)="onChangeTextField($event)"
                    hint="충전 금액을 입력하세요">
                </textfield-currency>
            </GridLayout>
            <StackLayout row="2" class="aftercharge" orientation="horizontal">
                <Label text="충전 후 금액: "></Label>
                <Label class="amount" text="{{octopusService.octopus[selected_country].balance + amount_num}}"></Label>
                <Label class="amount" text="{{octopusService.octopus[selected_country].currency}}"></Label>
            </StackLayout>
        </GridLayout>
    </GridLayout>

    <!-- <Button row="4" class="issue-btn -primary" text="발급하기"></Button> -->
    <!-- <GridLayout row="4" class="issue">
        <Label text="충전하기" verticalAlignment="center" textAlignment="center"></Label>
    </GridLayout> -->
    <ripple-button row="4" text="충전하기" backgroundColor="#ff5722" textColor="white" (click)="onTabCharge($event)"></ripple-button>
</GridLayout>
<GridLayout rows="auto, *">
    <myactionbar row="0" (close_click)="actionbar_click_close(isclose)" [isClose]="true"></myactionbar>
</GridLayout>