<GridLayout rows="auto, *">
    <myactionbar row="0" (close_click)="actionbar_click_close(isclose)" [isClose]="true"></myactionbar>
</GridLayout>
<GridLayout #rootlayout rows="72, auto, auto, *, auto" class="nav" height="100%" width="100%">

    <!-- <Label row="1" text="Octopus New" margin="8" style="font-size: 24;"></Label> -->
    <GridLayout class="title" row="1" columns="*, auto, auto">
        <Label class="str" text="보유 포인트" col="0" verticalAlignment="center"></Label>
        <Label text="120,000P" col="1" verticalAlignment="center"></Label>
        <Label class="change" text="(3,245 THB)" col="2" verticalAlignment="center"></Label>
    </GridLayout>

    <GridLayout class="card" row="2" width="320" marginTop="16">
        <Image #cardframe src="~/images/box_card.png" width="300" (loaded)="onLoadedCardImage($event)"></Image>
        <GridLayout #cardelems class="card-elems" rows="60, 60, 60">
            <GridLayout row="0" columns="auto, *, auto">
                <Image col="0" class="point-img" src="~/images/ico_point3.png" verticalAlignment="bottom"></Image>
                <Label col="1" class="point-str" text="충전하기" verticalAlignment="bottom"></Label>
                <GridLayout class="point-inuse" col="2">
                    <Label class="str" text="사용중" verticalAlignment="bottom"></Label>
                </GridLayout>
            </GridLayout>
            <TextField class="input" row="1" verticalAlignment="center" hint="충전 금액을 입력하세요"></TextField>
            <StackLayout row="2" class="aftercharge" orientation="horizontal">
                <Label text="충전 후 금액: "></Label>
                <Label class="amount" text="800"></Label>
                <Label class="amount" text="THB"></Label>
            </StackLayout>
        </GridLayout>
    </GridLayout>

    <!-- <Button row="4" class="issue-btn -primary" text="발급하기"></Button> -->
    <!-- <GridLayout row="4" class="issue">
        <Label text="충전하기" verticalAlignment="center" textAlignment="center"></Label>
    </GridLayout> -->
    <ripple-button row="4" text="충전하기" backgroundColor="#ff5722" textColor="white" (click)="onTabCharge($event)"></ripple-button>
</GridLayout>