<GridLayout rows="auto, *">
    <myactionbar row="0" (close_click)="actionbar_click_close(isclose)" [isClose]="true"></myactionbar>
</GridLayout>
<GridLayout #rootlayout rows="80, auto, *, auto, auto" class="nav" height="100%" width="100%">
    <title row="1" title="교통카드 > 발급하기" backgroundColor="#888"></title>
    
    <carousel-card [elem_list]="cardlist" (onTapElem)="onTapCard($event)"></carousel-card>
    
    <StackLayout row="3" class="description">
        <GridLayout columns="auto, auto" horizontalAlignment="center">
            <Image col="0" src="~/images/ico_info2.png" height="16"></Image>
            <Label col="1" class="str" text="교통카드 발급하기를 누르시면"></Label>
        </GridLayout>
        <Label class="str" text="홍콩, 런던, 싱가포르 교통수단을 이용할 수 있습니다" horizontalAlignment="center"></Label>
    </StackLayout>
    <!-- <Button row="4" class="issue-btn -primary" text="발급하기"></Button> -->
    <!-- <GridLayout row="4" class="issue">
        <Label text="발급하기" verticalAlignment="center" textAlignment="center"></Label>
    </GridLayout> -->
    
    <ripple-button row="4" text="발급하기" backgroundColor="#ff5722" textColor="white" (click)="onTabIssue($event)"></ripple-button>
</GridLayout>