
.info-str{
    font-size:15;
}


.auth-frame{
    background-color: #F5F5F5;
    border-radius: 4;
    border-width: 1;
    border-color: #eee;

    margin:0 16;
    margin-top: 8;
    padding:16 0;
    padding-right: 16;

    .img{
        height: 40;
    }
    .title{
        font-size: 15;
    }
    .str{
        font-size: 12;
        color:#888;
    }
}

.warn{
    font-size: 13;
    color:#888;
}




