

.front{
    .cardinfo{
        font-size: 14;
    }
}
.back{
    color:white;
    margin-top:48;
    margin-right:104;
    margin-left:96;

    .cardlabel{
        margin:0;
        padding:0;
        margin-top: 16;
    }
    .cardinfo{
        font-size:16; 
        font-weight: 600;
    }
    .hr{
        // margin-bottom: 16;
        border-bottom-color: rgba(48, 48, 48, 0.096);
        border-bottom-width: 2;
    }
}

