<GridLayout rows="auto, *">
    <myactionbar row="0" (close_click)="actionbar_click_close(isclose)" [isClose]="true"></myactionbar>
</GridLayout>
<GridLayout #rootlayout rows="72,auto,*,auto, 52" height="100%" width="100%">

    <!-- <title title="title" point="122" point_unit="HKD" backgroundColor="#ff5722"></title> -->
    <title row="1" title="온라인 결제" backgroundColor="#888"></title>

    <StackLAyout row="2" marginTop="48" marginBottom="48" orientation="horizontal">
        <ng-template [ngTemplateOutlet]="is_front === true ? front : back"></ng-template>

        <ng-template #front>
            <GridLayout class="front" (tap)="onTapFront()" columns="*, auto, *">
                <Image col="1" src="~/images/card_klookf.png"></Image>
                <StackLayout col="1" verticalAlignment="center">
                    <Image src="~/images/btn_click.png" horizontalAlignment="center" width="56"></Image>
                    <Label class="cardinfo" text="카드정보보기" horizontalAlignment="center"></Label>
                </StackLayout>
            </GridLayout>
        </ng-template>
        <ng-template #back>
            <GridLayout (tap)="onTapBack()" horizontalAlignment="center" columns="*, auto, *">
                <Image col="1" src="~/images/card_klookb.png"></Image>
                <StackLayout col="1" class="back" horizontalAlignment="right">
                    <Label class="cardlabel" row="0" text="카드번호" horizontalAlignment="right"></Label>
                    <Label class="cardinfo" row="1" text="{{card_info.cardno}}" horizontalAlignment="right"></Label>
                    <Label class="hr" row="2"></Label>
                    <Label class="cardlabel" row="3" text="유효기간" horizontalAlignment="right"></Label>
                    <Label class="cardinfo" row="4" text="{{card_info.exp}}" horizontalAlignment="right"></Label>
                    <Label class="cardlabel" row="5" text="CVC" horizontalAlignment="right"></Label>
                    <Label class="cardinfo" row="6" text="{{card_info.cvc}}" horizontalAlignment="right"></Label>
                </StackLayout>
            </GridLayout>
        </ng-template>
    </StackLAyout>
    <GridLayout row="3" class="gray-bg">
        <StackLayout class="info">
            <Label class="str" text="온라인 쇼핑몰 결제창에" horizontalAlignment="center"></Label>
            <Label class="str" text="조회된 카드정보를 입력하여 결제해주세요" horizontalAlignment="center"></Label>
        </StackLayout>
    </GridLayout>
    <GridLayout row="4" class="gray-bg">
        <ripple-button *ngIf="is_front !== true" row="4" text="확인" backgroundColor="#ff5722" textColor="white"
            (click)="onTapOk()"></ripple-button>
    </GridLayout>
    <!-- <StackLayout row="1">
        <Button text="go to Home" (tap)="navigateBack($event)"></Button>
    </StackLayout> -->
</GridLayout>