$maincolor: #ff5722;

.front{
    .cardinfo{
        font-size: 14;
        margin-top: 4;
    }
}
.back{
    color:white;
    margin-top:40;
    margin-right:48;
    // margin-left:64;

    .cardlabel{
        font-size: 12;
        margin:0;
        padding:0;
        margin-top: 16;
    }
    .cardinfo{
        font-size:16; 
        font-weight: 600;
    }
    .hr{
        // margin-bottom: 16;
        margin-top: 12;
        font-size:16;
        border-bottom-color: #d33e11;
        border-bottom-width: 2;
    }
}
.info{
    margin: 36 0;
    .str{
        font-size:15; 
        color:#5D5D5D;
    }
}

.gray-bg{
    background-color: #F4F4F4;
}

