$maincolor: #ff5722;

.list{
    &-card{
        margin:0 16;
        margin-bottom: 4;
        padding-top: 16;
        .item{
            margin:2 0;
            background-color: white;
            border-radius: 4;
            border-width: 1;
            border-color: #ddd;

            padding:12;
            .img{
                margin-right:16;
                height:32;
            }
            .title{
                font-size:14;
            }
            .change-str{
                font-size: 10;
                color:#888;
            }
            .check{
                width:24;
            }
        }
    }
}