<StackLayout width="100%">
    <!-- show point  -->
    <StackLayout class="point" width="100%" height="32">
        <GridLayout columns="auto, auto, auto, auto" horizontalAlignment="center">
            <Image col="0" src="~/images/point.png" width="24" height="24"></Image>
            <Label col="1" text="보유 포인트 : " verticalAlignment="center" marginRight="4"></Label>
            <Label col="2" text="120,000" verticalAlignment="center" marginRight="4"></Label>
            <Label col="3" text="800 HKD" verticalAlignment="center" style="font-weight: bold;"></Label>
        </GridLayout>
    </StackLayout>

    <!-- show card list -->
    <StackLayout class="card-frame">
        <AbsoluteLayout class="card" width="84%" height="224" (tap)="onCardTap($event)">
            <!-- card image here -->
            <Image src="~/images/card.png" width="100%" height="100%"></Image>

            <!-- inside card -->
            <GridLayout width="100%" height="100%">
                <StackLayout class="handpoint" row="1" verticalAlignment="center">
                    <!-- point to tap -->
                    <StackLayout class="handpoint-circle" orientation="horizontal" width="64" height="64">
                        <Label class="fas handpoint-hand" text="&#xf0a6;" width="100%"></Label>
                    </StackLayout>
                    <!-- tap to QR text -->
                    <ShadowedLabel class="handpoint-taptext" text="Tap to QR" horizontalAlignment="center">
                    </ShadowedLabel>
                </StackLayout>
            </GridLayout>
        </AbsoluteLayout>
    </StackLayout>
    <!-- menus -->
    <GridLayout columns="*, *, *, *" height="48">
        <StackLayout col="0">
            <Image src="~/images/tr_history.png" height="48" verticalAlignment="center"></Image>
        </StackLayout>
        <StackLayout col="1">
            <Image src="~/images/online_pay.png" height="48" verticalAlignment="center"></Image>
        </StackLayout>
        <StackLayout col="2">
            <Image src="~/images/stop.png" height="48" verticalAlignment="center"></Image>
        </StackLayout>
        <StackLayout col="3">
            <Image src="~/images/charge.png" height="48" verticalAlignment="center"></Image>
        </StackLayout>
    </GridLayout>
    <!-- transaction history -->
    <ScrollView  height="100%" style="background-color: #f0f0f0" marginTop="16">
        <StackLayout marginTop="12">
            <!-- per tr -->
            <StackLayout class="tr-frame">
                <DockLayout class="tr-theday" orientation="horizontal">
                    <Label dock="right" class="tr-cost-all" text="0.82" horizontalAlignment="right"></Label>
                    <Label dock="left" class="tr-date" text="SATURDAY, 27 JUN" horizontalAlignment="left"></Label>
                </DockLayout>

                <GridLayout class="tr" columns="*,auto" orientation="horizontal">
                    <GridLayout columns ="auto, auto">
                        <Image col="0" src="~/images/restorant.png" width="24" verticalAlignment="center"></Image>
                        <Label col="1" class="tr-merchant" text="FamilyMart 1887" horizontalAlignment="left" verticalAlignment="center"></Label>
                    </GridLayout>
                    
                    <StackLayout class="tr-cost" col="1" horizontalAlignment="right">
                        <Label class="tr-cost-foreign" text="0.82" textAlignment="right"></Label>
                        <Label class="tr-cost-kr" text="W 1,200" textAlignment="right"></Label>
                    </StackLayout>
                </GridLayout>

                
                <GridLayout class="tr" columns="*,auto" orientation="horizontal">
                    <GridLayout columns ="auto, auto">
                        <Image col="0" src="~/images/restorant.png" width="24" verticalAlignment="center"></Image>
                        <Label col="1" class="tr-merchant" text="FamilyMart 1887" horizontalAlignment="left" verticalAlignment="center"></Label>
                    </GridLayout>
                    
                    <StackLayout class="tr-cost" col="1" horizontalAlignment="right">
                        <Label class="tr-cost-foreign" text="0.82" textAlignment="right"></Label>
                        <Label class="tr-cost-kr" text="W 1,200" textAlignment="right"></Label>
                    </StackLayout>
                </GridLayout>
            </StackLayout>




            
            <StackLayout class="tr-frame">
                <DockLayout class="tr-theday" orientation="horizontal">
                    <Label dock="right" class="tr-cost-all" text="0.82" horizontalAlignment="right"></Label>
                    <Label dock="left" class="tr-date" text="SATURDAY, 27 JUN" horizontalAlignment="left"></Label>
                </DockLayout>

                <GridLayout class="tr" columns="*,auto" orientation="horizontal">
                    <GridLayout columns ="auto, auto">
                        <Image col="0" src="~/images/restorant.png" width="24" verticalAlignment="center"></Image>
                        <Label col="1" class="tr-merchant" text="FamilyMart 1887" horizontalAlignment="left" verticalAlignment="center"></Label>
                    </GridLayout>
                    
                    <StackLayout class="tr-cost" col="1" horizontalAlignment="right">
                        <Label class="tr-cost-foreign" text="0.82" textAlignment="right"></Label>
                        <Label class="tr-cost-kr" text="W 1,200" textAlignment="right"></Label>
                    </StackLayout>
                </GridLayout>

                
                <GridLayout class="tr" columns="*,auto" orientation="horizontal">
                    <GridLayout columns ="auto, auto">
                        <Image col="0" src="~/images/restorant.png" width="24" verticalAlignment="center"></Image>
                        <Label col="1" class="tr-merchant" text="FamilyMart 1887" horizontalAlignment="left" verticalAlignment="center"></Label>
                    </GridLayout>
                    
                    <StackLayout class="tr-cost" col="1" horizontalAlignment="right">
                        <Label class="tr-cost-foreign" text="0.82" textAlignment="right"></Label>
                        <Label class="tr-cost-kr" text="W 1,200" textAlignment="right"></Label>
                    </StackLayout>
                </GridLayout>
            </StackLayout>



            
            <StackLayout class="tr-frame">
                <DockLayout class="tr-theday" orientation="horizontal">
                    <Label dock="right" class="tr-cost-all" text="0.82" horizontalAlignment="right"></Label>
                    <Label dock="left" class="tr-date" text="SATURDAY, 27 JUN" horizontalAlignment="left"></Label>
                </DockLayout>

                <GridLayout class="tr" columns="*,auto" orientation="horizontal">
                    <GridLayout columns ="auto, auto">
                        <Image col="0" src="~/images/restorant.png" width="24" verticalAlignment="center"></Image>
                        <Label col="1" class="tr-merchant" text="FamilyMart 1887" horizontalAlignment="left" verticalAlignment="center"></Label>
                    </GridLayout>
                    
                    <StackLayout class="tr-cost" col="1" horizontalAlignment="right">
                        <Label class="tr-cost-foreign" text="0.82" textAlignment="right"></Label>
                        <Label class="tr-cost-kr" text="W 1,200" textAlignment="right"></Label>
                    </StackLayout>
                </GridLayout>

                
                <GridLayout class="tr" columns="*,auto" orientation="horizontal">
                    <GridLayout columns ="auto, auto">
                        <Image col="0" src="~/images/restorant.png" width="24" verticalAlignment="center"></Image>
                        <Label col="1" class="tr-merchant" text="FamilyMart 1887" horizontalAlignment="left" verticalAlignment="center"></Label>
                    </GridLayout>
                    
                    <StackLayout class="tr-cost" col="1" horizontalAlignment="right">
                        <Label class="tr-cost-foreign" text="0.82" textAlignment="right"></Label>
                        <Label class="tr-cost-kr" text="W 1,200" textAlignment="right"></Label>
                    </StackLayout>
                </GridLayout>
            </StackLayout>
        </StackLayout>
    </ScrollView>
</StackLayout>