<StackLayout width="100%">
    <StackLayout class="point" width="100%" height="28">
        <GridLayout columns="auto, auto, auto, auto" horizontalAlignment="center">
            <Image col="0" src="~/images/point.png" width="24" height="24"></Image>
            <Label col="1" text="보유 포인트 : " verticalAlignment="center" marginRight="4"></Label>
            <Label col="2" text="120,000" verticalAlignment="center" marginRight="4"></Label>
            <Label col="3" text="800 HKD" verticalAlignment="center" style="font-weight: bold;"></Label>
        </GridLayout>
    </StackLayout>

    <StackLayout class="card-frame" marginTop="12" marginBottom="12">
        <AbsoluteLayout class="card" width="84%" height="224">
            <Image src="~/images/card.png" width="100%" height="100%"></Image>
            <!-- <Image></Image> -->
            <GridLayout rows="2*, 3*, 1*" width="100%" height="100%">
                <StackLayout row="1">
                    <StackLayout orientation="horizontal" width="64" height="64" borderRadius="50%" style="background-color: #1b1b1b;" opacity="0.7">
                        <Label text="arrow" width="100%" color="white" verticalAlignment="center" textAlignment="center"></Label>
                    </StackLayout>
                    <Label class="card-tap" text="Tap to QR" horizontalAlignment="center"></Label>
                </StackLayout>
            </GridLayout>
        </AbsoluteLayout>
    </StackLayout>
    <GridLayout columns="*, *, *, *" height="64" backgroundColor="#edc0c4">
        <StackLayout col="0">
            <!-- <Image src="res://drawable-hdpi/icon.png" stretch="aspectFill"></Image> -->
            <Label text="이용내역" textAlignment="center"></Label>
        </StackLayout>
        <StackLayout col="1">
            <!-- <Image></Image> -->
            <Label text="온라인결제" textAlignment="center"></Label>
        </StackLayout>
        <StackLayout col="2">
            <!-- <Image></Image> -->
            <Label text="사용중지" textAlignment="center"></Label>
        </StackLayout>
        <StackLayout col="3">
            <!-- <Image></Image> -->
            <Label text="충전" textAlignment="center"></Label>
        </StackLayout>
    </GridLayout>
    <GridLayout height="48">
        <Label text="아래 화살표" textAlignment="center"></Label>
    </GridLayout>
    <StackLayout class="tr-frame">
        <DockLayout class="tr-theday" orientation="horizontal">
            <Label dock="right" class="tr-cost-all" text="0.82" horizontalAlignment="right"></Label>
            <Label dock="left" class="tr-date" text="SATURDAY, 27 JUN" horizontalAlignment="left"></Label>
        </DockLayout>
        
        <DockLayout class="tr" orientation="horizontal">
            <StackLayout dock="right" class="tr-cost" horizontalAlignment="right">
                <Label class="tr-cost-foreign" text="0.82"></Label>
                <Label class="tr-cost-kr" text="0.82" textAlignment="right"></Label>
            </StackLayout>
            <Label dock="left" class="tr-merchant" text="FamilyMart 1887" horizontalAlignment="left"></Label>
        </DockLayout>
        <!-- <StackLayout orientation="horizontal">
            <Label text="SUNDAY, 21, JUN"></Label>
        </StackLayout> -->
    </StackLayout>
</StackLayout>