<GridLayout>
    <GridLayout #rootlayout rows="84,48,*,auto,96" height="100%" width="100%">
        <!-- Actionbar -->
        <GridLayout row="0" class="actionbar" columns="*, auto, auto" backgroundColor="white">
            <Image src="~/images/logo.png" col="0" horizontalAlignment="left" marginLeft="4" marginRight="4"></Image>
            <GridLayout columns="24, auto, auto" col="1" style="border-radius: 25%; background-color: #dddddd;"
                marginLeft="4" marginRight="4">
                <Label text="btn" style="font-size: 14;" col="0"></Label>
                <Label text="태국" style="font-size: 16; font-weight: 700;" col="1" marginLeft="6"
                    marginRight="6"></Label>
                <Image src="~/images/ico_th.png" col="1" col="2"></Image>
            </GridLayout>
            <Image *ngIf="!(isQrScan || isQrPay)" src="~/images/btn_person.png" col="2" marginLeft="4" marginRight="4"></Image>
            <Image *ngIf="(isQrScan || isQrPay)" src="~/images/btn_close.png" col="2" marginLeft="4" marginRight="4" (tap)="navigateTrEmb($event)"></Image>
        </GridLayout>

        <!-- Point view -->
        <GridLayout class="point" row="1" columns="*, auto, auto"
            style="">
            <Label class="str" text="보유 포인트" col="0" verticalAlignment="center"></Label>
            <Label text="120,000P" col="1" verticalAlignment="center"></Label>
            <Label class="change" text="(3,245 THB)" col="2" verticalAlignment="center"></Label>
        </GridLayout>

        <!-- sub router (qr, tr) -->
        <GridLayout row="2">
            <page-router-outlet actionBarVisibility="never"></page-router-outlet>
        </GridLayout>

        <!-- menu -->
        <GridLayout #menu class="menu" row="3" columns="*,*,*,*" rows="36, *, auto" (loaded)="onLoadedMenu($event)">
            <image #menubtn row="0" colspan="4" src="~/images/btn_up.png" marginBottom="12" (tap)="onTapMenu($event)"></image>

            <StackLayout *ngIf="isMenuExt === true" class="item" row="1" col="0" (tap)="navigateOnlinepay($event)">
                <Image src="~/images/btn_quick5.png" class="image"></Image>
                <Label text="온라인결제" style="font-size:14;" horizontalAlignment="center"></Label>
            </StackLayout>
            <StackLayout *ngIf="isMenuExt === true" class="item" row="1" col="1" (tap)="navigateTransaction($event)">
                <Image src="~/images/btn_quick6.png" class="image"></Image>
                <Label text="이용내역" style="font-size:14;" horizontalAlignment="center"></Label>
            </StackLayout>
            <StackLayout *ngIf="isMenuExt === true" class="item" row="1" col="2" (tap)="navigateTrEmb($event)">
                <Image src="~/images/btn_quick7.png" class="image"></Image>
                <Label text="사용중지" style="font-size:14;" horizontalAlignment="center"></Label>
            </StackLayout>
            <StackLayout *ngIf="isMenuExt === true" class="item" row="1" col="3" (tap)="navigateAccount($event)">
                <Image src="~/images/btn_quick8.png" class="image"></Image>
                <Label text="계정관리" style="font-size:14;" horizontalAlignment="center"></Label>
            </StackLayout>

            <StackLayout class="item" row="2" col="0" (tap)="navigateQrScan($event)">
                <Image src="~/images/btn_quick1.png" class="image"></Image>
                <Label text="QR스캔" style="font-size:14;" horizontalAlignment="center"></Label>
            </StackLayout>
            <StackLayout class="item" row="2" col="1" (tap)="navigateQrPay($event)">
                <Image src="~/images/btn_quick2.png" class="image"></Image>
                <Label text="QR결제" style="font-size:14;" horizontalAlignment="center"></Label>
            </StackLayout>
            <StackLayout class="item" row="2" col="2" (tap)="navigateChangePoint($event)">
                <Image src="~/images/btn_quick3.png" class="image"></Image>
                <Label text="포인트교환" style="font-size:14;" horizontalAlignment="center"></Label>
            </StackLayout>
            <StackLayout class="item" row="2" col="3" (tap)="navigateChargePoint($event)">
                <Image src="~/images/btn_quick4.png" class="image"></Image>
                <Label text="충전" style="font-size:14;" horizontalAlignment="center"></Label>
            </StackLayout>
        </GridLayout>

        
        <GridLayout row="4" class="octo" rows="24, 24, *" marginTop="8">
            <Label class="str" text="Octopus 교통카드 이용을 위해 올려주세요" row="0" textAlignment="center"></Label>
            <Image class="arrow" src="~/images/buscard_arrow.png" row="1" (tap)="navigateOctopus($event)"></Image>
        </GridLayout>
    </GridLayout>
    
    <!-- octopus -->
    <GridLayout #octopus class="octopus" rows="24, 24, auto" marginTop="8" (loaded)="onLoadOctopus($event)">
        <!-- <Label class="str" text="Octopus 교통카드 이용을 위해 올려주세요" row="0" textAlignment="center"></Label>
        <Image class="arrow" src="~/images/buscard_arrow.png" row="1" (tap)="navigateOctopus($event)"></Image> -->
    </GridLayout>
    <Image #octopuscard class="card" src="~/images/card_octopus.png" row="2" marginLeft="16"
        marginRight="16" (tap)="navigateOctopus($event)" (pan)="onPan($event)"></Image>
</GridLayout>