
<GridLayout #rootlayout rows="64, *, auto" height="100%" width="100%">

    <StackLayout row="1" class="done" verticalAlignment="center">
        <Image class="img" src="~/images/ico_agreeend.png" horizontalAlignment="center"></Image>
        <Label class="title" text="회원가입이 완료되었습니다" horizontalAlignment="center"></Label>
        <Label class="str" text="회원가입을 축하드리니다" horizontalAlignment="center"></Label>
        <Label class="str" text="별도 앱 설치 없이 바로 이용하실 수 있습니다" horizontalAlignment="center"></Label>
    </StackLayout>

    <GridLayout row="2">
        <ripple-button text="확인" backgroundColor="#ff5722" textColor="white" (click)="onTapNext($event)"></ripple-button>
    </GridLayout>
</GridLayout>
<GridLayout rows="auto, *">
    <simple-actionbar row="0" (close_click)="actionbar_click_close(isclose)" [isClose]="true"></simple-actionbar>
</GridLayout>