<GridLayout #rootlayout rows="*,*,*,*" class="nav" height="100%" width="100%" backgroundColor="#ffe6e6">
    <Label row="0" text="Klook Main" margin="24" style="font-size: 24;"></Label>

    <Button row="1" text="go to Terms" [nsRouterLink]="['/initial-auth/terms']" pageTransition="slide" clearHistory="false"></Button>
    <Button row="2" text="go to Pin" [nsRouterLink]="['/initial-auth/pin-new']" pageTransition="slide" clearHistory="false"></Button>
    <Button row="3" text="go to Main" [nsRouterLink]="['/main']" pageTransition="fade" clearHistory="true"></Button>
</GridLayout>